<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Office Fabric JS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="{{relativePath}}images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="{{relativePath}}../js/fabric.min.js"></script>
  <link rel="stylesheet" href="{{relativePath}}styles.css" />
  <link rel="stylesheet" href="{{relativePath}}../css/fabric.min.css" />
  <link rel="stylesheet" href="{{relativePath}}../css/fabric.components.min.css" />
  <script type="text/javascript" src="{{relativePath}}../lib/jquery.js"></script>
  {{#if pageInfo.isDatePicker}}
  <script type="text/javascript" src="{{relativePath}}../lib/PickaDate.js"></script>
  {{/if}}
</head>
<body>
  <div class="main">
    <div class="ms-Fabric ms-font-m App">
      <header class="od-Header">
        <div class="od-Header-banner">
          <div class="od-Header-logo">
            <div class="od-Logo-link">
              <img src="{{relativePath}}images/logo-office-dev.svg" width="190" height="48" alt="Office dev center logo image">
            </div>
          </div>
        </div>
      </header>
      <div class="App-wrapper">
        <div class="App-mobileNavBar">
          <button class="menuButton"><i class="ms-Icon ms-Icon--GlobalNavButton"></i></button>
          <div class="siteTitle">Fabric JS</div>
        </div>
        <div class="App-mobileNavOverlay"></div>
        <div class="App-nav">
          <nav class="nav">
            <ul class="links">
              <li class="link isHomePage fabricPage">
                <a href="{{relativePath}}index.html" title="Home page" aria-label="Home Page">Fabric JS</a>
              </li>
              <li class="link GetStarted getStartedPage">
                <a class="getStarted" href="{{relativePath}}GetStarted/GetStarted.html" data-url="GetStarted/GetStarted.html">Get Started</a>
              </li>
              <li class="link linkToggle Components">
                <a href="#">Components</a>
                <ul class="links isSubMenu">
                  <% components.forEach(function(component) { %>
                  <li class="link">
                    <a href="{{relativePath}}Components/<%= component.name %>/<%= component.name %>.html" data-url="Components/<%= component.name %>/<%= component.name %>.html"><%= component.name %></a>
                  </li>
                  <% }); %>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div id="mainContent" class="App-content">
          {{ renderDocPage props=props }}
        </div>
      </div>
      <footer class="od-OfficeFooter">
        <div class="od-OfficeFooter-primary">
          <div class="od-OfficeFooter-linkList">
            <div class="od-OfficeFooter-heading">Community Resources</div>
            <ul class="od-OfficeFooter-list">
              <li><a href="https://www.yammer.com/itpronetwork" target="_blank">Office 365 Technical Network</a></li>
              <li><a href="http://social.msdn.microsoft.com/Forums/office/en-US/home?category=apps,officedev,sharepoint,exchangeserver,lync,msproject" target="_blank">MSDN Forums</a></li>
              <li><a href="http://officespdev.uservoice.com/" target="_blank">UserVoice</a></li>
              <li><a href="http://stackoverflow.com/questions/tagged/ms-office" target="_blank">Stack Overflow</a></li>
            </ul>
          </div>
          <div class="od-OfficeFooter-linkList">
            <div class="od-OfficeFooter-heading">Follow Fabric</div>
            <ul class="od-OfficeFooter-list">
              <li><a href="https://twitter.com/officeuifabric" target="_blank">Twitter</a></li>
              <li><a href="https://github.com/OfficeDev/?query=office-ui-fabric" target="_blank">GitHub</a></li>
            </ul>
          </div>
        </div>
        <div class="od-OfficeFooter-secondary">
          <ul class="od-OfficeFooter-list od-OfficeFooter-list--secondary">
            <li><a href="http://www.microsoft.com/info/privacy.mspx" target="_blank">Privacy</a></li>
            <li><a href="http://msdn.microsoft.com/en-US/cc300389" target="_blank">Terms of use</a></li>
            <li><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx" target="_blank">Trademarks</a></li>
          </ul>
          <div class="od-OfficeFooter-microsoft">
            <img src="{{relativePath}}images/logo-microsoft.png" width="123" height="24" alt="Microsoft logo" />
            <div>&copy; 2016 Microsoft</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript">
    (function(){
      var mainContainer = document.getElementById('mainContent');
      var toggleLinks = document.querySelectorAll('.linkToggle > a');
      function linkToggle() {
        console.log(this.parentNode.classList.contains('isActive'));
        if (this.parentNode.classList.contains('hasActiveChild')) {
          (this.parentNode.classList.contains('hideChildren')) ?
          this.parentNode.classList.remove('hideChildren') :
          this.parentNode.classList.add('hideChildren');
        } else {
          (this.parentNode.classList.contains('isActive')) ?
          this.parentNode.classList.remove('isActive') :
          this.parentNode.classList.add('isActive');
        }
      }

      for (var i = 0; i < toggleLinks.length; i++) {
        toggleLinks[i].addEventListener("click", linkToggle);
      }

      function navLinkHighlight() {
        const ALL_NAV_LINKS = document.querySelectorAll(".nav .link > a");
        const URL_PATH = window.location.pathname;

        for (var i = 0; i < ALL_NAV_LINKS.length; i++) {
          var targetURL = ALL_NAV_LINKS[i].getAttribute("data-url")
          var indexOfTarget = URL_PATH.indexOf(targetURL);
          if (indexOfTarget > -1) {
            ALL_NAV_LINKS[i].parentNode.classList.add("isActive");
            if (ALL_NAV_LINKS[i].parentNode.parentNode.parentNode) {
              ALL_NAV_LINKS[i].parentNode.parentNode.parentNode.classList.add("hasActiveChild");
              ALL_NAV_LINKS[i].parentNode.parentNode.parentNode.classList.add("isActive");
            }
          }
        }
      }

      navLinkHighlight();

      var navState = false;
      var appContainer = document.querySelector(".App");
      var navButton = document.querySelector(".menuButton");
      var navButtonIcon = navButton.querySelector('.ms-Icon');
      navButton.addEventListener("click", toggleNav);
      function toggleNav() {
        if (navState) {
          appContainer.classList.remove("is-navOpen");
          navButtonIcon.classList.add("ms-Icon--GlobalNavButton");
          navButtonIcon.classList.remove("ms-Icon--ChromeClose");
        } else {
          appContainer.classList.add("is-navOpen");
          navButtonIcon.classList.add("ms-Icon--ChromeClose");
          navButtonIcon.classList.remove("ms-Icon--GlobalNavButton");
        }
        navState = !navState;
      }

      // Add isAttached to pageHeader on scroll
      const FULL_HEADER_HEIGHT = 236;
      const ATTACHED_HEADER_HEIGHT = 128;
      const SCROLL_THRESHHOLD = FULL_HEADER_HEIGHT - ATTACHED_HEADER_HEIGHT;
      var isAttached;
      const pageHeader = document.querySelector('.pageHeader');
      if (pageHeader) {
        appContainer.addEventListener('scroll', checkHeaderAttachment);
        checkHeaderAttachment();

        function checkHeaderAttachment() {
          if (appContainer.scrollTop >= SCROLL_THRESHHOLD) {
            isAttached = true;
            if (!pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.add('isAttached');
            }
          } else {
            isAttached = false;
            if (pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.remove('isAttached');
            }
          }
        }
      }

    })();
  </script>
</body>
</html>