<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<title>Office UI Fabric JS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link href="{{relativePath}}images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <script type="text/javascript" src="{{relativePath}}../js/fabric.min.js"></script>
  <link rel="stylesheet" href="{{relativePath}}styles.css" />
  <link rel="stylesheet" href="{{relativePath}}../css/fabric.min.css" />
  <link rel="stylesheet" href="{{relativePath}}../css/fabric.components.min.css" />
  <script type="text/javascript" src="{{relativePath}}../lib/scrollTo.js"></script>
  {{#if pageInfo.isDatePicker}}
  <script type="text/javascript" src="{{relativePath}}../lib/jquery.js"></script>
  <script type="text/javascript" src="{{relativePath}}../lib/PickaDate.js"></script>
  {{/if}}
</head>
<body>
  <div class="main">
    <div class="ms-Fabric ms-font-m App">
      <header class="od-Header">
        <div class="od-Header-banner">
          <div class="od-Header-logo">
            <div class="od-Logo-link">
              <img src="{{relativePath}}images/logo-office-dev.svg" width="190" height="48" alt="Office dev center logo image">
            </div>
          </div>
          <div class="od-Header-searchContainer">
            <div class="od-SearchBox">
              <form class="od-SearchBox-searchForm ng-pristine ng-valid" action="http://dev.office.com/Search" method="get">
                <fieldset>
                  <input name="q" id="q" role="Search" aria-label="Search Office Dev Center" type="text" placeholder="Search dev.office.com" class="od-SearchBox-field" value="">
                  <input name="culture" id="culture" type="hidden" value="en-US">
                  <button type="submit" class="od-SearchBox-button ms-Icon ms-Icon--Search">Search</button>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
        <div class="od-Header-navigationContainer ms-u-slideUpOut20">
          <div class="od-Navigation">
            <div class="od-Navigation-searchContainer">
              <div class="od-SearchBox">
                <form class="od-SearchBox-searchForm ng-pristine ng-valid" action="http://dev.office.com/Search" method="get">
                  <fieldset>
                    <input name="q" id="q" role="Search" aria-label="Search Office Dev Center" type="text" placeholder="Search dev.office.com" class="od-SearchBox-field" value="">
                    <input name="culture" id="culture" type="hidden" value="en-US">
                    <button type="submit" class="od-SearchBox-button ms-Icon ms-Icon--Search">Search</button>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="od-Navigation-links" role="menu">
              <div class="od-Navigation-linkContainer">
                <a class="od-Navigation-link is-selected" role="menuitem" aria-label="Explore menu item, hit enter to open sub-menu and tab to navigate to first sub menu item" href="/" aria-expanded="false">
                  <span>Explore</span>
                  <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                </a>
                <div class="od-Navigation-subMenu">
                  <div class="od-Navigation-subMenuItems">
                    <div class="ms-Grid">
                      <div class="ms-Grid-row">
                        <div class="ms-Grid-col ms-u-xl3 ms-u-sm12 od-Navigation-menuFirstColumn">
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/opportunity" role="menuitem">
                            <span>Why Office?</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/fabric" role="menuitem">
                            <span>Office UI Fabric</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://graph.microsoft.io/" role="menuitem">
                            <span>Microsoft Graph</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://betterwith.office.com/" role="menuitem">
                            <span>Better with Office</span>
                          </a>
                        </div>
                        <div class="ms-Grid-col ms-u-xl3 ms-u-sm12 od-Navigation-menuSecondColumn">
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/word" role="menuitem">
                            <i class="od-Icon od-Icon--word ms-bgColor-blue" aria-hidden="true"></i>
                            <span>Word</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/excel" role="menuitem">
                            <i class="od-Icon od-Icon--excel ms-bgColor-green" aria-hidden="true"></i>
                            <span>Excel</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/powerpoint" role="menuitem">
                            <i class="od-Icon od-Icon--powerpoint ms-bgColor-orangeLight" aria-hidden="true"></i>
                            <span>PowerPoint</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.outlook.com/" role="menuitem">
                            <i class="od-Icon od-Icon--outlook ms-bgColor-blue" aria-hidden="true"></i>
                            <span>Outlook</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.onedrive.com/" role="menuitem">
                            <i class="od-Icon od-Icon--onedrive ms-bgColor-blue" aria-hidden="true"></i>
                            <span>OneDrive</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.onenote.com/" role="menuitem">
                            <i class="od-Icon od-Icon--onenote ms-bgColor-magenta" aria-hidden="true"></i>
                            <span>OneNote</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://msdn.microsoft.com/en-us/library/office/dn833469.aspx" role="menuitem">
                            <i class="od-Icon od-Icon--sharepoint ms-bgColor-blueLight" aria-hidden="true"></i>
                            <span>SharePoint</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/skype" role="menuitem">
                            <i class="od-Icon od-Icon--skype ms-bgColor-blueLight" aria-hidden="true"></i>
                            <span>Skype</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://msdn.microsoft.com/en-us/library/office/dn605890.aspx" role="menuitem">
                            <i class="od-Icon od-Icon--access ms-bgColor-redDark" aria-hidden="true"></i>
                            <span>Access</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://msdn.microsoft.com/en-us/library/office/ms512767.aspx" role="menuitem">
                            <i class="od-Icon od-Icon--project ms-bgColor-teal" aria-hidden="true"></i>
                            <span>Project</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.yammer.com/" role="menuitem">
                            <i class="od-Icon od-Icon--yammer ms-bgColor-blue" aria-hidden="true"></i>
                            <span>Yammer</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://dev.office.com/microsoft-teams" role="menuitem">
                            <i class="od-Icon od-Icon--microsoftTeams ms-bgColor-" aria-hidden="true"></i>
                            <span>Microsoft Teams</span>
                          </a>
                        </div>
                        <div class="ms-Grid-col ms-u-xl3 ms-u-sm12 od-Navigation-menuThirdColumn">
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/android" role="menuitem">
                            <i class="od-Icon od-Icon--android ms-bgColor-undefined" aria-hidden="true"></i>
                            <span>Android</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/asp-dot-net" role="menuitem">
                            <i class="od-Icon od-Icon--aspnet ms-bgColor-undefined" aria-hidden="true"></i>
                            <span>ASP .NET</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/ios" role="menuitem">
                            <i class="od-Icon od-Icon--ios ms-bgColor-" aria-hidden="true"></i>
                            <span>iOS</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/js" role="menuitem">
                            <i class="od-Icon od-Icon--javascript ms-bgColor-undefined" aria-hidden="true"></i>
                            <span>JavaScript</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="http://dev.office.com/node" role="menuitem">
                            <i class="od-Icon od-Icon--node ms-bgColor-undefined" aria-hidden="true"></i>
                            <span>Node.js</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://graph.microsoft.io/getting-started" role="menuitem">
                            <i class="od-Icon od-Icon--php ms-bgColor-undefined" aria-hidden="true"></i>
                            <span >PHP (coming soon)</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://graph.microsoft.io/getting-started" role="menuitem">
                            <i class="od-Icon od-Icon--python ms-bgColor-undefined" aria-hidden="true"></i>
                            <span >Python (coming soon)</span>
                          </a>
                          <a class="od-Navigation-subMenuItem" href="https://graph.microsoft.io/getting-started" role="menuitem">
                            <i class="od-Icon od-Icon--ruby ms-bgColor-undefined" aria-hidden="true"></i>
                            <span >Ruby (coming soon)</span>
                          </a>
                          <div class="od-Navigation-subMenuOverflowColor"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="od-Navigation-linkContainer">
                <a class="od-Navigation-link" role="menuitem" aria-label="Getting started menu item" href="http://dev.office.com/getting-started" >Getting Started</a>
              </div>
              <div class="od-Navigation-linkContainer">
                <a class="od-Navigation-link" role="menuitem" aria-label="Code Samples menu item" href="http://dev.office.com/code-samples">Code Samples</a>
              </div>
              <div class="od-Navigation-linkContainer">
                <a class="od-Navigation-link" role="menuitem" aria-label="Resources menu item, hit enter to open sub-menu" href="/" aria-expanded="false">
                  <span>Resources</span>
                  <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                </a>
                <div class="od-Navigation-subMenu">
                  <div class="od-Navigation-subMenuItems od-Navigation-menuFirstColumn">
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/patterns-and-practices" role="menuitem">
                      <span>Patterns and Practices</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/events" role="menuitem">
                      <span>Events</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/podcasts" role="menuitem">
                      <span>Podcasts</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/training" role="menuitem">
                      <span >Training</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="https://graph.microsoft.io/en-us/graph-explorer" role="menuitem">
                      <span>Graph Explorer</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/videos" role="menuitem">
                      <span >Videos</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="od-Navigation-linkContainer">
                <a class="od-Navigation-link" role="menuitem" aria-label="Documentation menu item, hit enter to open sub-menu and tab to navigate to first sub menu item" href="/" aria-expanded="false">
                  <span>Documentation</span>
                  <i class="ms-Icon ms-Icon--ChevronDown" aria-hidden="true"></i>
                </a>
                <div class="od-Navigation-subMenu">
                  <div class="od-Navigation-subMenuItems od-Navigation-menuFirstColumn">
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/docs/add-ins/overview/office-add-ins" role="menuitem">
                      <span>Office Add-ins</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/add-in-availability" role="menuitem">
                      <span>Office Add-in Availability</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/changelog" role="menuitem">
                      <span>Office Add-ins Changelog</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://graph.microsoft.io/" role="menuitem">
                      <span>Microsoft Graph API</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.outlook.com/connectors" role="menuitem">
                      <span>Office 365 Connectors</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/chooseapiendpoint" role="menuitem">
                      <span>Office 365 REST API's</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="https://msdn.microsoft.com/en-us/library/office/fp179930.aspx" role="menuitem">
                      <span>SharePoint Add-ins</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/fabric/" role="menuitem">
                      <span>Office UI Fabric</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="https://msdn.microsoft.com/en-us/library/office/jj220037.aspx" role="menuitem">
                      <span>Submit to the Office Store</span>
                    </a>
                    <a class="od-Navigation-subMenuItem" href="http://dev.office.com/docs" role="menuitem">
                      <span>All Documentation</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="od-Navigation-socialButtons">
              <div class="od-Navigation-socialButton"></div>
              <div class="od-Navigation-socialButton"></div>
              <div class="od-Navigation-socialButton"></div>
              <div class="od-Navigation-socialButton"></div>
              <div class="od-Navigation-socialButton"></div>
            </div>
          </div>
        </div>
      </header>
      <div class="App-wrapper">
        <div class="App-mobileNavBar">
          <button class="menuButton"><i class="ms-Icon ms-Icon--GlobalNavButton"></i></button>
          <div class="siteTitle">Fabric JS</div>
        </div>
        <div class="App-mobileNavOverlay"></div>
        <div class="App-nav">
          <nav class="nav">
            <ul class="links">
              <li class="link isHomePage fabricPage">
                <a href="{{relativePath}}index.html" title="Home page" aria-label="Home Page">Fabric JS</a>
              </li>
              <li class="link GetStarted getStartedPage">
                <a class="getStarted" href="{{relativePath}}GetStarted/GetStarted.html" data-url="GetStarted/GetStarted.html">Get Started</a>
              </li>
              <li class="link linkToggle Components">
                <a href="#">Components</a>
                <ul class="links isSubMenu">
                  <% components.forEach(function(component) { %>
                  <li class="link">
                    <a href="{{relativePath}}Components/<%= component.name %>/<%= component.name %>.html" data-url="Components/<%= component.name %>/<%= component.name %>.html"><%= component.name %></a>
                  </li>
                  <% }); %>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div id="mainContent" class="App-content">
          {{ renderDocPage props=props }}
        </div>
      </div>
      <footer class="od-OfficeFooter">
        <div class="od-OfficeFooter-primary">
          <div class="od-OfficeFooter-linkList">
            <div class="od-OfficeFooter-heading">Community Resources</div>
            <ul class="od-OfficeFooter-list">
              <li><a href="https://www.yammer.com/itpronetwork" target="_blank">Office 365 Technical Network</a></li>
              <li><a href="http://social.msdn.microsoft.com/Forums/office/en-US/home?category=apps,officedev,sharepoint,exchangeserver,lync,msproject" target="_blank">MSDN Forums</a></li>
              <li><a href="http://officespdev.uservoice.com/" target="_blank">UserVoice</a></li>
              <li><a href="http://stackoverflow.com/questions/tagged/ms-office" target="_blank">Stack Overflow</a></li>
            </ul>
          </div>
          <div class="od-OfficeFooter-linkList">
            <div class="od-OfficeFooter-heading">Follow Fabric</div>
            <ul class="od-OfficeFooter-list">
              <li><a href="https://twitter.com/officeuifabric" target="_blank">Twitter</a></li>
              <li><a href="https://github.com/OfficeDev/?query=office-ui-fabric" target="_blank">GitHub</a></li>
            </ul>
          </div>
        </div>
        <div class="od-OfficeFooter-secondary">
          <ul class="od-OfficeFooter-list od-OfficeFooter-list--secondary">
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=512132" target="_blank">Privacy</a></li>
            <li><a href="http://msdn.microsoft.com/en-US/cc300389" target="_blank">Terms of use</a></li>
            <li><a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/en-us.mspx" target="_blank">Trademarks</a></li>
          </ul>
          <div class="od-OfficeFooter-microsoft">
            <img src="{{relativePath}}images/logo-microsoft.png" width="123" height="24" alt="Microsoft logo" />
            <div>&copy; <span id="currYear"></span> Microsoft</div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script type="text/javascript">
    (function(){
      document.getElementById('currYear').innerHTML = new Date().getFullYear();
      var mainContainer = document.getElementById('mainContent');
      var toggleLinks = document.querySelectorAll('.linkToggle > a');
      function linkToggle() {
        if (this.parentNode.classList.contains('hasActiveChild')) {
          (this.parentNode.classList.contains('hideChildren')) ?
          this.parentNode.classList.remove('hideChildren') :
          this.parentNode.classList.add('hideChildren');
        } else {
          (this.parentNode.classList.contains('isActive')) ?
          this.parentNode.classList.remove('isActive') :
          this.parentNode.classList.add('isActive');
        }
      }

      // Assign nav menu toggling
      for (var i = 0; i < toggleLinks.length; i++) {
        toggleLinks[i].addEventListener("click", linkToggle);
      }


      // Highlight current page
      function navLinkHighlight() {
        const ALL_NAV_LINKS = document.querySelectorAll(".nav .link > a");
        const URL_PATH = window.location.pathname;

        for (var i = 0; i < ALL_NAV_LINKS.length; i++) {
          var targetURL = ALL_NAV_LINKS[i].getAttribute("data-url")
          var indexOfTarget = URL_PATH.indexOf(targetURL);
          if (indexOfTarget > -1) {
            ALL_NAV_LINKS[i].parentNode.classList.add("isActive");
            if (ALL_NAV_LINKS[i].parentNode.parentNode.parentNode) {
              ALL_NAV_LINKS[i].parentNode.parentNode.parentNode.classList.add("hasActiveChild");
              ALL_NAV_LINKS[i].parentNode.parentNode.parentNode.classList.add("isActive");
            }
          }
        }
      }

      navLinkHighlight();


      // Handle navigation toggle menu

      var navState = false;
      var appContainer = document.querySelector(".App");
      var navButton = document.querySelector(".menuButton");
      var navButtonIcon = navButton.querySelector('.ms-Icon');
      var navOverlay = document.querySelector(".App-mobileNavOverlay");
      navButton.addEventListener("click", toggleNav);
      navOverlay.addEventListener("click", toggleNav);
      function toggleNav() {
        if (navState) {
          appContainer.classList.remove("is-navOpen");
          navButtonIcon.classList.add("ms-Icon--GlobalNavButton");
          navButtonIcon.classList.remove("ms-Icon--ChromeClose");
        } else {
          appContainer.classList.add("is-navOpen");
          navButtonIcon.classList.add("ms-Icon--ChromeClose");
          navButtonIcon.classList.remove("ms-Icon--GlobalNavButton");
        }
        navState = !navState;
      }

      // Add isAttached to pageHeader on scroll
      const FULL_HEADER_HEIGHT = 236;
      const ATTACHED_HEADER_HEIGHT = 128;
      const SCROLL_THRESHHOLD = FULL_HEADER_HEIGHT - ATTACHED_HEADER_HEIGHT;
      var isAttached;
      const pageHeader = document.querySelector('.pageHeader');
      if (pageHeader) {
        window.onscroll = checkHeaderAttachment;
        checkHeaderAttachment();

        function checkHeaderAttachment() {
          var scroll = window.scrollY || document.documentElement.scrollTop;
          if (scroll >= SCROLL_THRESHHOLD) {
            isAttached = true;
            if (!pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.add('isAttached');
            }
          } else {
            isAttached = false;
            if (pageHeader.classList.contains('isAttached')) {
              pageHeader.classList.remove('isAttached');
            }
          }
        }
      }


      // Add OD Menu interactions
      const HEADER_CLASS = '.od-Header';
      const LINKS_CLASS = '.od-Navigation-link';
      const LINKS_CONTAINER_CLASS = '.od-Header-navigationContainer';
      const LINKS_BANNER_CLASS = '.od-Header-banner';
      const LINKS_CONTAINER_ANIM_IN_CLASS = 'ms-u-slideDownIn10';
      const LINKS_CONTAINER_ANIM_OUT_CLASS = 'ms-u-slideUpOut10';
      const CONTAINER_CLASS = '.od-Navigation-linkContainer';
      const SUBMENU_CLASS = '.od-Navigation-subMenu';
      const HAMBURGER_MENU_CLASS = '.od-Header-hamburgerButton';
      const LINK_OPEN_STATE = 'is-open';
      const LINKS_MOBILE_OPEN_STATE = 'is-open';
      const HAMBURGER_OPEN_STATE = 'is-open';
      const OPEN_LINK_CONTAINER = CONTAINER_CLASS + '.' + LINK_OPEN_STATE;
      const XLSIZE = 1024;

      const headerel = document.querySelector(HEADER_CLASS);
      const _links = headerel.querySelectorAll(LINKS_CLASS);
      const _containers = headerel.querySelectorAll(CONTAINER_CLASS);

      let linksel = document.querySelector(LINKS_CONTAINER_CLASS);

      let navcontainerel = document.querySelector(LINKS_CONTAINER_CLASS);

      function _processResize() {
        if (window.innerWidth > XLSIZE) {
          _removeNavigation();
          document.removeEventListener('mousemove', _mouseMoveHandler, true);
          document.addEventListener('mousemove', _mouseMoveHandler, true);
          navcontainerel.classList.remove('docs-officeDevShowNav');
        } else {
          _addNavigationBack();
          document.removeEventListener('mousemove', _mouseMoveHandler, true);
          navcontainerel.classList.add('docs-officeDevShowNav');
        }
      }

      function _removeNavigation() {
        navcontainerel.classList.remove('ms-u-slideDownIn20');
        navcontainerel.classList.add('ms-u-slideUpOut20');
        navcontainerel.classList.remove('docs-showNavigation');
      }

      function _addNavigation() {
        if (!navcontainerel.classList.contains('ms-u-slideDownIn20')) {
          navcontainerel.classList.add('docs-showNavigation');
          navcontainerel.classList.remove('ms-u-slideUpOut20');
          navcontainerel.classList.add('ms-u-slideDownIn20');
        }
      }

      function _addNavigationBack() {
        navcontainerel.classList.remove('ms-u-slideUpOut20');
        navcontainerel.classList.remove('docs-hideNavigation');
      }

      function _removeDropdown() {
        linksel.classList.remove(LINKS_CONTAINER_ANIM_IN_CLASS);

        if (window.innerWidth < XLSIZE) {
          linksel.classList.add(LINKS_CONTAINER_ANIM_OUT_CLASS);
          setTimeout(function() {
            linksel.classList.remove(LINKS_MOBILE_OPEN_STATE);
          }, 200);
        } else {
          _removeAllActiveClasses();
        }
      }

      function _removeAllActiveClasses() {
        for (let i = 0; i < _containers.length; i++) {
          _containers[i].classList.remove(LINK_OPEN_STATE);
        }
      }

      function _mouseMoveHandler(e) {
        let linkContainer = document.querySelector(OPEN_LINK_CONTAINER);
        let subMenuContainer;
        let targetHeight;
        let targetRect;
        let navcontainerRect;
        let bannerContainer = document.querySelector(LINKS_BANNER_CLASS);

        // Check if dropdown is open and if so base the mouse position calculations on that.
        if (linkContainer) {
          subMenuContainer = linkContainer.querySelector(SUBMENU_CLASS);
          targetRect = subMenuContainer.getBoundingClientRect();
          targetHeight =  targetRect.top + targetRect.height;
        } else {
          navcontainerRect = navcontainerel.getBoundingClientRect();
          targetHeight = bannerContainer.getBoundingClientRect().top
                        + bannerContainer.getBoundingClientRect().height;
          if (navcontainerel.classList.contains('docs-showNavigation')) {
            targetHeight += navcontainerRect.height;
          }
        }

        let mouseY = e.pageY;

        if (mouseY <= targetHeight) {
          _addNavigation();
        } else {
          _removeNavigation();
          _removeDropdown();
        }
      }

      function _processMenuToggle(e) {
        let ancestor;
        if (e.target.classList.contains(CONTAINER_CLASS)) {

          if (!e.target.classList.contains(LINK_OPEN_STATE)) {
            _removeAllActiveClasses();
            e.target.classList.add(LINK_OPEN_STATE);
            e.target.setAttribute('aria-expanded', true);
          } else {
            _removeAllActiveClasses();
            e.target.setAttribute('aria-expanded', false);
          }
        } else {
          ancestor = findAncestor(e.target, CONTAINER_CLASS);

          if (!ancestor.classList.contains(LINK_OPEN_STATE)) {
            _removeAllActiveClasses();
            ancestor.classList.add(LINK_OPEN_STATE);
            ancestor.setAttribute('aria-expanded', true);
          } else {
            _removeAllActiveClasses();
            ancestor.setAttribute('aria-expanded', false);
          }
        }
      }

      function findAncestor(el, cls) {
        let newCLS = cls.replace('.', '');
        let that;
        let newEL = el;
        while ((newEL = newEL.parentElement) && !newEL.classList.contains(newCLS)) {
          that = this;
        }
        return newEL;
      }

      function isDescendant(parent, child) {
        let node = child.parentNode;
        while (node != null) {
          if (node === parent) {
           return true;
          }
          node = node.parentNode;
        }
        return false;
      }

      function _closeDropdownHandler() {
        if (!isDescendant(headerel, document.activeElement)) {
          _removeDropdown();
        }
      }

      function _toggleMenuHandler(e) {
        if (e.keyCode) {
          if (e.keyCode === 13) {
            _processMenuToggle(e);
            e.preventDefault();
          }
        } else {
          _processMenuToggle(e);
          e.preventDefault();
        }
      }

      // Mouse move binding
      document.addEventListener('mousemove', _mouseMoveHandler, true);

      function _windowsResizeHandler() {
        if (window.innerWidth > XLSIZE) {
          linksel.classList.remove(LINKS_CONTAINER_ANIM_IN_CLASS);
          linksel.classList.remove(LINKS_CONTAINER_ANIM_OUT_CLASS);
          linksel.classList.remove(LINKS_MOBILE_OPEN_STATE);
        }

        _processResize();
      }

      window.addEventListener('resize', _windowsResizeHandler, false);
      document.addEventListener('keyup', _closeDropdownHandler, true);

      for (var j = 0; j < _containers.length; j++) {
        currentContainer = _containers[j];
        currentButton = _containers[j].querySelector(LINKS_CLASS);
        submenu = currentContainer.querySelector(SUBMENU_CLASS);

        if (submenu) {
          currentButton.addEventListener('click', _toggleMenuHandler, true);
          currentButton.addEventListener('keydown', _toggleMenuHandler, true);
        }
      }

    })();
  </script>
</body>
</html>